<% provide(:title, "Customer Service Feed") %> 
<div class="row">
  <div class="span8 offset2">
	  <br/>
	  <h1><%= t 'customer.service.feed.title', default: 'Customer Service Feed' %></h1>
    <h2>Coming Soon!</h2>
  </div>
</div>