<div class="hero-unit">
<p><strong>Allgemeine Geschäftsbedingungen</strong></p>
<p>
<i>Stand: 1.12.2012</i></br>
Willkommen bei Notdienst-Touch! Notdienst-Touch wird von der Signal East UG (haftungsbeschränkt) unter der Internet-Domain notdienstapp.com betrieben und ist Online-Notdienstsystem (im Folgenden "Notdienst-Touch"), mit dem du auf einfache und effiziente Art deine Notdienstbereitshaft verwalten kannst. Notdienst-Touch ist über den Internet-Browser aber auch über mobile Applikationen und über PC-Software nutzbar. Mit der Registrierung zu Notdienst-Touch stimmst du (im Folgenden "Nutzer") diesen allgemeinen Geschäftsbedingungen (im Folgenden "AGB") zu. Die Registrierung ist als Vertrag zwischen dem Nutzer und der Signal East UG (haftungsbeschränkt), Verbindungsweg 6, 17309 Pasewalk (im Folgenden "Signal East") wirksam. Bitte lies die AGB sorgfältig durch, denn sie bilden den rechtlichen Rahmen für die Nutzung von Notdienst-Touch.
Notdienst-Touch bietet einige Funktionen und Inhalte kostenlos an, ist aber insgesamt kein kostenloses Angebot. Die funktionalitäten sind professionell produziert und werbefrei. Um einen hohen Standard für Technik und qualität zu gewährleisten, sind Gebühren notwendig.
Gebühren entstehen für den Nutzer niemals ohne ausdrücklichen Hinweis. Weder für die eingeschränkte und probeweise Nutzung noch durch die Registrierung werden Gebühren erhoben.
Bitte beachte auch unsere Hinweise zur Datenverarbeitung.
</p>
<p>
<strong>1 Geltungsbereich, Begriffsbestimmungen</strong></br>
1.1 Die AGB gelten für alle Nutzer von Notdienst-Touch. Abweichende und ergänzende Regelungen gelten nur, wenn sie schriftlich gefasst und von Nutzer und Notdienst-Touch unterzeichnet sind. Die AGB gelten gleichermaßen für kostenlose und kostenpflichtige Angebote auf Notdienst-Touch.
1.2 Signal East behält sich vor, diese AGB jederzeit und ohne Nennung von Gründen zu ändern. Die geänderten AGB werden dem Nutzer vorab per E-Mail zugesandt. Widerspricht der Nutzer den geänderten AGB nicht innerhalb von vier Wochen, gelten sie als angenommen. Im Fall eines Widerspruchs kann Signal East das Nutzerkonto des Nutzers sperren. Auf diese Rechtsfolgen wird Signal East in der E-Mail mit den geänderten AGB gesondert hinweisen.
</p>
<p>
<strong>2 Registrierung und Vertragsschluss</strong></br>
2.1 Jeder Nutzer darf sich nur einmal registrieren. Der Nutzer verpflichtet sich, die im Registrierungsformular vorgesehenen Felder vollständig und wahrheitsgemäß auszufüllen.
2.2 Der Vertrag zur Nutzung von Notdienst-Touch zwischen dem Nutzer und Signal East wird geschlossen, indem der Nutzer das Registrierungsformular ausfüllt und abschickt. Zuvor sind die AGB von Signal East zu akzeptieren.
2.3 Signal East schickt dem Nutzer nach Eingang der Registrierung eine automatische Bestätigung per E-Mail zu. Diese E-Mail enthält einen Hyperlink, über den der Nutzer die Richtigkeit der angegebenen E-Mail-Adresse verifiziert. Der Nutzer verpflichtet sich zu dieser Verifizierung. Erfolgt sie nicht, kann Signal East den Zugriff auf Notdienst-Touch jederzeit einschränken oder unterbinden.
2.4 Falls Preise auf Notdienst-Touch angegeben sind, verstehen sich diese einschließlich der jeweils gültigen gesetzlichen Umsatzsteuer.
</p>
<p>
<strong>3 Kostenpflichtige Dienste und Produkte (Premiumverträge)</strong></br>
3.1 Signal East bietet kostpflichtige Dienste und Produkte auf Notdienst-Touch an („Premiumdienste“).
3.2 Premiumverträge kommen nach erfolgreichem Abschluss des Bezahlvorganges und der Übersendung der Rechnung an die angegebene E-Mail-Adresse zustande.
</p>
<p>
<strong>4 Abrechnungsarten, Kündigung, Verlängerung</strong></br>
4.1 Premiumprodukte können je nach Angebot als Abonnement oder als Einmal-Kauf erworben werden. Abrechnungsart, Preis und Laufzeit sind jeweils im Rahmen der Angebote aufgeführt.
4.2 Premiumverträge mit Abonnement werden unbefristet mit einer angegebenen Mindestlaufzeit geschlossen. Die Vergütung bzw. der Rechnungsbetrag ist für die gesamte Mindestlaufzeit beim Vertragsschabschluss fällig. Nach der Mindestlaufzeit verlängert sich automatisch wiederkehrend um die jeweils vertraglich vereinbarte Laufzeit (z.B. 3, 6 oder 12 Monate), sofern der Nutzer seinen Vertrag vor Ablauf der Mindestlaufzeit bzw. der jeweils verlängerten Laufzeit nicht kündigt. Für die Verlängerungslaufzeiten wird die Vergütung ebenfalls vorschüssig in Rechnung gestellt. Alle Verträge sind bis bzw. zum Ablauf der jeweiligen Laufzeit kündbar.
4.3 Premiumverträge mit „Einmal-Kauf“ sind jeweils als befristet oder unbefristet ausgewiesen. Sofern sie befristet sind, haben eine jeweils angegebene Laufzeit und enden, ohne dass es einer Kündigung bedarf.
4.4 Die Kündigung von Premiumverträgen erfolgt per E-Mail an service@notdienstapp.com. Sie wird von Signal East per E-Mail bestätigt. Kündigt der Nutzer seinen Basisvertrag wie unter Ziffer 3.2 beschrieben, enden Premiumverträge des Nutzers mit wirksam werden der Kündigung des Basisvertrages. Ein Anspruch auf Rückerstattung von Nutzungsentgelten besteht nicht.
4.5 Das Recht der außerordentlichen Kündigung bleibt unberührt. Der Nutzer hat ein außerordentliches Kündigungsrecht insbesondere für den Fall, dass Signal East die Entgelte für die vertraglichen Leistungen erhöht oder wesentliche Leistungen seines Angebots einstellt.
4.6 Signal East ist berechtigt, Verträge jederzeit ohne Angabe von Gründen zum Ende einer Vertragslaufzeit zu kündigen.
4.7 Signal East ist berechtigt, laufende Premiumverträge zu kündigen, wenn über den Zeitraum von sechs Monaten keine Nutzung des Angebots erfolgt. Dies gilt auch für unbefristete Verträge mit „Einmal-Kauf“. Der Kunde wird beim Kauf auf diese Regelung hingewiesen.
</p>
<p>
<strong>5 „Geld-Zurück-Garantie“ für Premiumdienste</strong></br>
Der Nutzer hat jederzeit das Recht, einen Premiumvertrag mit sofortiger Wirkung zu kündigen. Kündigt er innerhalb der ersten 20 Tage nach Vertragsschluss, erhält er das geleistete Nutzungsentgelt vollständig zurück.
</p>
<p>
<strong>6 Zahlungsmodalitäten</strong></br>
6.1 Nutzungsentgelte für Premiumdienste sind jeweils im Voraus zur Zahlung fällig.
6.2 Der Nutzer kann die Zahlung über die im Einzelnen aufgeführten Bezahlsysteme wie Kreditkarte oder elektronisches Lastschriftverfahren etc. vornehmen. Die Zahlungsabwicklung erfolgt über den Dienstleister Stripe (www.stripe.com) und PayPal (www.paypal.com).
6.3 Verfügt der Nutzer über einen Gutscheincode für die Nutzung, erhält er für einen begrenzten Zeitraum Zugang zum jeweiligen Premiumdienst. Dadurch entsteht keine weitere Zahlungspflicht. Es wird daher auch keine Rechnung ausgestellt. Die Dauer des Zugangs ist vom jeweiligen Gutscheincode abhängig.
6.4 Die Rechnungsstellung erfolgt digital; auf Rechnungserstellung in Papierform wird verzichtet. Entweder wird die Rechnung dem Nutzer per E-Mail zugestellt oder sie wird im Nutzerkonto auf dem Portal hinterlegt und ist unter der Adresse https://notdienstapp.com/account jederzeit abrufbar. Sofern die Rechnungen online hinterlegt werden, erfolgt eine Versendung per E-Mail nur bei Vertragsabschluss, nicht bei Folge-Rechnungen.
</p>
<p>
<strong>7 Widerrufsrecht des Nutzers (Verbrauchers)</strong></br>
7.1 Der Nutzer ist berechtigt, seine auf Abschluss des Vertrages gerichtete Willenserklärung ohne Angabe von Gründen binnen 2 Wochen zu widerrufen. Die Frist beginnt am Tag nach Vertragsschluss, d. h. am Tag nach Erhalt der Annahmeerklärung von Signal East, und nach Erhalt dieser Widerrufsbelehrung in Textform. Der Widerruf erfolgt durch Erklärung in Textform (z. B. Brief, Fax, E-Mail) an Signal East. Zur Fristwahrung genügt die rechtzeitige Absendung des Widerrufs.
7.2 Das Widerrufsrecht erlischt in dem Zeitpunkt, in dem Signal East mit der Ausführung der Dienstleistung mit der ausdrücklichen Zustimmung des Nutzers vor Ende der Widerrufsfrist begonnen hat oder der Nutzer diese selbst veranlasst hat.
7.3 Im Fall des wirksamen Widerrufs erstattet Signal East ein bereits entrichtetes Nutzungsentgelt dem Nutzer zurück.
7.4 Die „Geld-Zurück-Garantie“ (§5) gilt unabhängig von diesem Widerrufsrecht.
</p>
<p>
<strong>8 Inhalt und Erreichbarkeit des Notdienstportals und Haftung</strong></br>
8.1 Signal East übernimmt keine Gewähr für die Aktualität, Korrektheit, Vollständigkeit oder Qualität der insbesondere durch andere Nutzer bereitgestellten Informationen.
8.2 Signal East ist bemüht, jederzeit einen ordnungsgemäßen Betrieb von Notdienst-Touch sicherzustellen. Signal East garantiert jedoch keine ununterbrochene Erreichbarkeit und haftet nicht für technisch bedingte Übertragungsausfälle.
8.3 Signal East benutzt für seinen Service die aktuell und allgemein verwendeten Technologien. Um das Angebot von Signal East in vollem Umfang nutzen zu können, muss der Nutzer ebenfalls diese Technologien (z.B. aktuelle Browsertechnologien) verwenden oder deren Verwendung auf seinem Computer ermöglichen (z.B. Aktivierung von Java Skript, Cookies, Pop-ups). Bei Benutzung älterer oder nicht allgemein gebräuchlicher Technologien kann es sein, dass der Nutzer die Leistungen von Signal East nur eingeschränkt nutzen kann.
8.4 Ansprüche des Nutzers auf Schadensersatz sind ausgeschlossen. Hiervon ausgenommen sind Schadensersatzansprüche des Nutzers aus der Verletzung des Lebens, des Körpers, der Gesundheit oder aus der Verletzung wesentlicher Vertragspflichten (Kardinalpflichten) sowie die Haftung für sonstige Schäden, die auf einer vorsätzlichen oder grob fahrlässigen Pflichtverletzung seitens Signal East, seiner gesetzlichen Vertreter oder Erfüllungsgehilfen beruhen. Wesentliche Vertragspflichten sind solche, deren Erfüllung zur Erreichung des Ziels des Vertrages notwendig ist. Eine „Kardinalpflicht“ bzw. „wesentliche Vertragspflichten“ sind Pflichten, deren Erfüllung die ordnungsgemäße Durchführung des Vertrages überhaupt erst ermöglichen und auf deren Einhaltung der Vertragspartner regelmäßig vertraut und vertrauen darf.
8.5 Bei der Verletzung wesentlicher Vertragspflichten haftet Signal East nur auf den vertragstypischen, vorhersehbaren Schaden, wenn dieser einfach fahrlässig verursacht wurde, es sei denn, es handelt sich um Schadensersatzansprüche des Nutzers aus einer Verletzung des Lebens, des Körpers oder der Gesundheit.
8.6 Die Einschränkungen der Absätze 9.4 und 9.5 gelten auch zugunsten der gesetzlichen Vertreter und Erfüllungsgehilfen von Signal East, wenn Ansprüche direkt gegen diese geltend gemacht werden.
</p>
<p>
<strong>9 Urheber-, Namens und Markenrechte, Eigentumsrechte</strong></br>
9.1 Soweit es sich nicht ausdrücklich um Werke unter einer Creative Commons-Lizenz handelt, sind sämtliche von Signal East erstellten und im Rahmen des Notidnestportals verbreiteten Texte, Bilder und sonstigen Werke urheberrechtlich geschützt. Diese Inhalte sind nur zur Nutzung ausschließlich im Rahmen von Notdienst-Touch bestimmt. Ausdrucke und offline-Nutzungen sind unzulässig, sofern dies von Signal East nicht ausdrücklich angeboten wird. Signal East behält sich vor, jegliche unberechtigte Nutzung durch vollständige oder teilweise Vervielfältigung, Veröffentlichung sowie Weiterverbreitung oder Vorführung dieser Inhalte oder Teilen davon zivilrechtlich sowie strafrechtlich zu verfolgen.
9.2 Das Notdienst-Touch-Logo und der Firmenname Signal East sind namensrechtlich geschützt. Deren Nutzung sowie die Nutzung anderer Firmennamen und Marken, die auf Notdienst-Touch eingestellt sind, bedürfen der schriftlichen Genehmigung von Signal East.
</p>
<p>
<strong>10 Von Nutzern übermittelte Inhalte</strong></br>
10.1 Im Rahmen der interaktiven Nutzung von Notdienst-Touch räumt Signal East dem jeweiligen Nutzer die Möglichkeit ein, selbst kreierte Inhalte (wie z.B. Bilder oder Texte) an Signal East zu übermitteln und auf Notdienst-Touch einzustellen, so dass sie der Öffentlichkeit zugänglich werden.
10.2 Voraussetzung für die Einstellung von Inhalten ist eine ordnungsgemäße Registrierung über ein Nutzerkonto sowie die Volljährigkeit des Nutzers. Alle vom Nutzer übermittelten und ggf. eingestellten Inhalte sind auf seinen selbst gewählten Nutzernamen zurückzuführen.
10.3 Der Nutzer trägt selbst dafür Sorge, dass über seine Registrierungsdaten kein Missbrauch durch Dritte erfolgen kann. In diesem Zusammenhang ist der Nutzer insbesondere dazu verpflichtet, keinem Dritten Zugang zu seinen Registrierungsdaten zu verschaffen. Der Nutzer ist mit der Folge eigener Haftung weiterhin dafür verantwortlich, dass die von ihm auf dem Signal East eingestellten Inhalte frei von Viren, Würmern, Trojanern oder sonstigen Programmen sind, die die Funktionsfähigkeit oder den Bestand des Notdienstportals andere Webseiten die Computer anderer Nutzer gefährden oder beeinträchtigen können.
10.4 Der Nutzer garantiert gegenüber Signal East, dass die Inhalte frei von Rechten Dritter in jeder Form genutzt werden können. Davon umfasst sind auch etwaige Persönlichkeitsrechte aller abgebildeten, genannten oder in sonstiger Weise in die Inhalte einbezogenen Dritter.
10.5 Signal East behält sich bei Verstoß gegen diese Vereinbarung das Recht vor, den Nutzer von seinem Angebot auszuschließen. Darüber hinaus garantiert der Nutzer und hat mit der Folge eigener Haftung dafür Sorge zu tragen, dass die von ihm eingestellten Inhalte weder gegen einschlägige gesetzliche oder behördliche Bestimmungen noch – darüber hinaus – in jugendgefährdender, pornographischer, rassistischer, beleidigender oder ähnlicher Weise gegen die guten Sitten verstoßen.
10.6 Der Nutzer stellt Signal East auf erstes Anfordern von sämtlichen Ansprüchen frei, die Dritte mit der Behauptung gegenüber Signal East geltend machen, die von dem Nutzer auf der Website eingestellten Inhalte verletzten sie in ihren Rechten oder verstießen gegen gesetzliche Bestimmungen; hierin eingeschlossen sind die angemessenen Kosten der Rechtsverteidigung.
10.7 Die von Signal East vom Nutzer eingeräumten Rechte und die vorstehend erklärten Garantie- und Freistellungsansprüche enden nicht mit Beendigung des Nutzungsverhältnisses.
</p>
<p>
<strong>11 Schlussbestimmungen</strong></br>
11.1 Auf Verträge zwischen Signal East und dem Nutzer findet das Recht der Bundesrepublik Deutschland unter Ausschluss des UN-Kaufrechts Anwendung.
11.2 Die AGB bleiben auch bei rechtlicher Unwirksamkeit einzelner Punkte in seinen übrigen Teilen verbindlich.
</p>

</div>