<% provide(:title, "Welcome") %> 
<div class="row">
  <div class="span8 offset2">
	  <br/>
	  <h1><%= t 'welcome.hello', default: 'Hello, ' %><%= current_user.name + '!' %></h1>
    <h3><%= t 'welcome.getting.started', default: 'Here are a few simple steps to get started with Notdienst-Touch:' %></h3>
  </div>
</div>