<%= render 'shared/error_messages', object: f.object %>
<div class="control-group">
  <%= f.label :name, :class => 'control-label' :for => 'inputIcon' %>
  <div class="controls">
    <div class="input-prepend">
	  <span class="add-on"><i class="icon-italic"></i></span>
    <%= f.text_field :name, :class => 'span2', :id => 'inputIcon' %>
    </div>
  </div>
</div>
