<% provide(:title, "Edit Pharmacy") %>
<h2>Edit Pharmacy</h2>
<div class="row">
  <aside class="span6 offset3">
    <section>
      <%= render 'shared/pharmacy_form' %>
    </section>
  </aside>
	<div class="span4">
  </div>
</div>
<p>
  <%= link_to "Show", @pharmacy %> |
  <%= link_to "View All", pharmacies_path %>
</p>