<% provide(:title, 'Create a new Pharmacy') %>
<div class="row">
  <aside class="span6 offset3">
	<h3c><%= t 'pharmacies.create.title', default: 'Create a new Pharmacy' %></h3c>
    <section>
      <%= render 'shared/pharmacy_form' %>
    </section>      
  </aside>
	<div class="span4">
  </div>
</div>
