<% provide(:title, t('pharmacies.create.title')) %>
<div class="row">
  <aside class="span6 offset3">
	<h3c><%= t 'pharmacies.create.title' %></h3c>
    <section>
      <%= render 'shared/pharmacy_form' %>
    </section>      
  </aside>
	<div class="span4">
  </div>
</div>
