<% provide(:title, 'Edit Emergency Group') %>
<h2>Edit Emergency Group</h2>
<div class="row">
  <aside class="span8">
    <section>
      <%= render 'form' %>
    </section>
  </aside>
	<div class="span4">
  </div>
</div>
<p>
  <%= link_to "Show", @emergency_group %> |
  <%= link_to "View All", emergency_groups_path %>
</p>
