</br>
<% provide(:title, 'Create a new Emergency Group') %>
<div class="row">
  <aside class="span6 offset3">
	<h2c><%= t 'emergency_group.create.title', default: 'Create a new Emergency Group' %></h2c>
    <section>
      <%= render 'form' %>
    </section>      
  </aside>
	<div class="span4">
  </div>
</div>