</br>
<% provide(:title, 'Create a new Emergency Group') %>
<div class="row">
  <aside class="span6 offset3">
	<h3c><%= t 'emergency_group.create.title' %></h3c>
    <section>
      <%= render 'form' %>
    </section>      
  </aside>
	<div class="span4">
  </div>
</div>