
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Notdienst Touch Passwort zurücksetzten für <%= @user.name %></h1>
    <p>Um Ihrer passwort zurückzusetzten bitte das Link unten klicken.
       <%= @reset_url %>
       Falls Sie doch keine neue Passwort angefordert haben, einfach dieses E-Mail ignorieren.
    <br/>
    <p>Wenn Sie fragen haben oder Hilfe benötigen, schreiben Sie uns an: <%= @contact %></p>
  </body>
</html>
