<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to the Notdienst Touch Application,  <%= @user.name %></h1>
    <p>
      You have successfully signed up to the Notdienst Touch Application,
      your username is: <%= @user.email %></br>
      If you have forgotten your password, please Contact us here: <%= @contact %>
    <br/>
    </p>
    <p>
      To log in to your Secure Site, just follow this link: <%= @url %>.
      Then once you've logged in using the Safari browser on your iPad, bookmark this website by adding it to your homepage as shown in attached user manual.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
