<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Willkommen bei Notdienst Touch,  <%= @user.name %></h1>
    <p>
	    Sie haben sich erfolgreich angemeldet bei Notdienst Touch.</br>
	    Ihr Benuztername ist gleichzeitig Ihre E-Mail Adresse: <%= @user.email %></br>
	    **In Falle eine automatische Kontoerstellung wird Ihr Passwort auch automatisch erstellt**</br>
      Ihr automatisch erstelltes Passwort lautet: 8RttoTriz</br>
      Sie können Ihre Passwort hier ändern: <%= @reset_url %>.
    <br/>
    </p>
    <p>
	    Um sich in Ihren neue Konto einzuloggen, folgen Sie dem Link: <%= @url %>.
	    Wenn Sie ein iPad nutzen, können Sie mit dem Safari Browser Ihre Webanwendung auf Ihrer Homepage speichern, so wie in der beigefügten Anleitung angezeigt.
    </p>
    <p>Vielen Dank und einen schönen Tag!</p>
  </body>
</html>