<%= form.label "Company Name" %>
<%= form.text_field :name %>

<%= form.label "Secure Site" %>
<span class="notdienst-sub">.notdienstapp.com</span>
<%= form.text_field :subdomain, :class => "account-url" %>

