<h1>Someone filled out our contact form on notdienstapp.com</h1>

<p>
	<ul>
		<li>Name: <%= @message.name %></li>

		<li>Email: <%= @message.email %></li>

		<li>Subject: <%= @message.subject %></li>

		<li>Body: <%= @message.body %></li>
	</ul>
</p>