<div class="mc"></div>
<div class="white_container">
  <center>
	    <h1b><strong><%= event.info.title %></strong></h1b>
	</center>
</div>
<div class="mb"></div>
<div class="white_container_middle">
	<center>
		<h3b><%= event.info.description %></h3b>
  </center>
</div>	
<div class="mb"></div>
<div class="white_container">
  <center>
	  <h4b><%= event.info.footer %></h4b>
	</center>
</div>