<div class="white_container">
		<center><h1b>Notdienst für Heute</h1b></center>
</div>
<div class="mb"></div>
		<!-- <div class="content"> -->
    <div class="white_container_middle"><br><center><h1b>Storch-Apotheke</h1b></center>
<br><center><h2b>Pasewalk und Strasburg</h2b></center>
<br><center><h3b>Von Donnerstag, 25.Oktober 2012, 08:00 Uhr<br>
		        bis Freitag, 26.Oktober 2012, 08:00 Uhr</h3b></center><center><h3b>
			Torgelower Straße 14<br>
			17309 Pasewalk<br>
			<strong>Tel. 03973 214373</strong> 
			</h3b>
			</center></div>	<div class="clear"></div>
	<div class="mb"></div>
<!-- </div> -->
<div class="white_container">
		<center><h3b>Notdienstgebühr außerhalb der gesetzlichen Öffnungszeiten 2,50  €</h3b></center>

		<!-- <center><h4>Bitte beachten Sie, dass es sich beim Bereitschaftsdienst um einen Notdienst f&uuml;r dringende Versorgungsf&auml;lle handelt. Daf&uuml;r wird die gesetzliche Geb&uuml;hr in H&ouml;he von 2,50 &euro; erhoben.</h4></center>
-->
<div class="clear"></div>

</div>
<div class="mb"></div>
<!-- Begin Footer -->

			</div>

