<% provide(:title, 'Create a new Event') %>
<div class="row">
  <aside class="span6 offset3">
	  <h3c><%= t 'event.title.new' %></h3c>
    <section>
      <%= render 'form' %>
    </section>
  </aside>
	<div class="span4">
  </div>
</div>