<% provide(:title, 'Create a new Event') %>
<h2>New Event</h2>
<div class="row">
  <aside class="span8">
    <section>
      <%= render 'form' %>
    </section>
  </aside>
	<div class="span4">
  </div>
</div>
<p><%= link_to "Back to List", events_path %></p>
