@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

/* miscellaneous */

.account-url {
  width: 204px;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* universal */

html {
  overflow-y: scroll;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover { 
      color: $grayDarker;
    }
  }  
  small { 
    float: left; 
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.6em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  height: auto !important;
  margin-bottom: 15px;
  @include box_sizing;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

.form-horizontal .control-label {
  float: left;
  width: 140px;
  padding-top: 5px;
  text-align: left;
}

/* users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

/* Remington's custom styles */

/* Contact Form */
h1c {
  font-size: 3em;
  letter-spacing: -1px;
  line-height: 1em;
  margin-bottom: 8px;
}

h2c {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 2.7em;
  letter-spacing: -1px;
  line-height: 1.2em;
  margin-bottom: 8px;
}

h2c .subhead {
font-weight: 100;
font-size: 22px;
line-height: 40px;
letter-spacing: -0.5px;
color: #333;
display: block;
}

h3c {
  font-size: 1.8em;
  letter-spacing: 0px;
  line-height: 1em;
  margin-bottom: 5px;
}

h4c {
  font-size: 2.5em;
  letter-spacing: 0px;
  line-height: 1em;
  margin-bottom: 5px;
}

h2d {
  font-size: 20px;
  letter-spacing: -0.5px;
  margin-bottom: 30px;
  font-weight: normal;
  font-family: 'Helvetica Neue', Arial, Verdana, 'Nimbus Sans L', sans-serif;
}

h2e {
  font-size: 20px;
  letter-spacing: -0.5px;
  margin-bottom: 30px;
  font-weight: normal;
  font-family: 'Helvetica Neue', Arial, Verdana, 'Nimbus Sans L', sans-serif;
  color: $gray;
}

/* Dropdown User */

.user-information {
		background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, transparent), color-stop(100%, rgba(0, 0, 0, 0.05)));
  border-bottom: 1px solid #CCC;
  cursor: text;
  font-size: 16px;
  margin-bottom: 7px;
  padding: 10px 20px 10px 15px;
  text-shadow: 0 1px 0 white;
  white-space: nowrap;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-user-select: auto;
  -moz-user-select: auto;
  user-select: auto;
  color: $grayDarker;
}

.user-information > span {
  color: #888;
  font-size: 13px;
  font-weight: 500;
}

/* pharmacies */

.pharmacies {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}
.content {
  display: block;
}
.timestamp {
  color: $grayLight;
}
.gravatar {
  float: left;
  margin-right: 10px;
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

.table th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.table th .asc {
  background-image: url(/icon-arrow-up);
}

.table th .desc {
  background-image: url(/icon-arrow-down);
}

/* ipad fullscreen styles for single event*/

.white_container {
	background: #ffffff;
	border-radius: 15px;
	padding-top: 12px;
	padding-left: 10px;
	padding-bottom: 2px;
}

.white_container_middle {
	background: #ffffff;
	border-radius: 15px;
	padding-top: 20px;
	padding-left: 10px;
	padding-bottom: 20px;
}

.mb {
	margin-bottom:5px;
}

.mc {
	margin-top:15px;
}

h1b {
  font-size: 6.2em;
  letter-spacing: 0px;
  line-height: 1.27em;
  margin-bottom: 30px;
  font-family: 'BitterRegular', Georgia, sans-serif;
  color: #0F1CAA;
}

h2b {
  font-size: 6em;
  letter-spacing: 0px;
  line-height: 1em;
  margin-bottom: 30px;
  font-family: 'BitterRegular', Georgia, sans-serif;
  color: #0F1CAA;
}

h3b {
  font-size: 3.3em;
  letter-spacing: 0px;
  line-height: 1.7em;
  margin-bottom: 30px;
  font-family: 'BitterRegular', Georgia, sans-serif;
  color: #0F1CAA;
}

h4b {
  font-size: 2.4em;
  letter-spacing: 0px;
  line-height: 1.7em;
  margin-bottom: 30px;
  color: #0F1CAA;
  font-family: 'BitterRegular', Georgia, sans-serif;
}

/* More custom styles by Remington */
.section-large .section-header {
height: 55px;
line-height: 55px;
}

.section-header {
background-color: #F7F7F7;
background-image: -moz-linear-gradient(top, #FAFAFA, #F2F2F2);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FAFAFA), to(#F2F2F2));
background-image: -webkit-linear-gradient(top, #FAFAFA, #F2F2F2);
background-image: -o-linear-gradient(top, #FAFAFA, #F2F2F2);
background-image: linear-gradient(to bottom, #FAFAFA,#F2F2F2);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFAFAFA', endColorstr='#FFF2F2F2', GradientType=0);
border-top: 1px solid white;
border-bottom: 1px solid #CCC;
-webkit-border-top-left-radius: 4px;
-moz-border-radius-topleft: 4px;
border-top-left-radius: 4px;
-webkit-border-top-right-radius: 4px;
-moz-border-radius-topright: 4px;
border-top-right-radius: 4px;
height: 46px;
padding: 0 15px 0;
}

.section-large .section-content, .section-large .section-body {
padding: 18px 20px 0;
}

.section-header + .section-content, .section .section-content:first-child {
border-top: 0;
}

.section-content {
border-top: 1px solid #EBEBEB;
}

.section-content, .section-body {
min-height: 18px;
padding: 9px 15px 0;
}

/*.content {
background: transparent url("/assets/bg.jpg") 0 0 repeat-x;
padding-top: 18px;
min-height: 402px;
}*/


.signup-form-field label {
display: block;
float: left;
font-weight: bold;
line-height: 30px;
width: 115px;
}

.signup-form-field input[type="text"], .signup-form-field input[type="password"], .signup-form-field input[type="email"] {
width: 320px;
}

.signup-form-field input[type="text"].account_subdomain-url, .signup-form-field input[type="password"].account_subdomain, .signup-form-field input[type="email"].account_subdomain {
width: 204px;
}

input, textarea {
background: white;
border: 1px solid #BBB;
font-size: 13px;
line-height: 16px;
padding: 6px;
width: 50%;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
}

.signup-form-submit {
margin: 30px 0 60px 115px;
}

.signup-form-field .harvest-sub {
left: 500px;
line-height: 32px;
position: absolute;
}

.last {
margin-right: 0;
margin-left: -330px;
}

.signup-reasons {
color: #777;
font-size: 11px;
}

.offsetminus3 {
margin-left: -330px;
}

.rounded-gray {
background: #EEE;
padding: 15px;
margin-bottom: 15px;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
border-radius: 6px;
}

.signup-final {
border-top: 1px solid #DDD;
font-size: 11px;
color: #666;
padding: 5px 0 10px;
}

/*.modal-backdrop, .modal-backdrop.fade.in { background-color: rgba(0,0,0,0); }*/

/* importing mobile responsive style at the end on purpose */
@import "bootstrap-responsive";
