@import "bootstrap";


/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

/* miscellaneous */

.notdienst-sub {
  left: 657px;
  line-height: 32px;
  position: absolute;
}

.account-url {
  width: 204px;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover { 
      color: $grayDarker;
    }
  }  
  small { 
    float: left; 
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.6em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  height: auto !important;
  margin-bottom: 15px;
  @include box_sizing;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

.form-horizontal .control-label {
  float: left;
  width: 140px;
  padding-top: 5px;
  text-align: left;
}

/* users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

/* Remington's custom styles */

/* Contact Form */
h1c {
  font-size: 3em;
  letter-spacing: -1px;
  line-height: 1em;
  margin-bottom: 8px;
}

h2c {
  font-size: 2.4em;
  letter-spacing: -1px;
  line-height: 1em;
  margin-bottom: 8px;
}

h3c {
  font-size: 1.8em;
  letter-spacing: 0px;
  line-height: 1em;
  margin-bottom: 5px;
}

h4c {
  font-size: 2.5em;
  letter-spacing: 0px;
  line-height: 1em;
  margin-bottom: 5px;
}

h2d {
  font-size: 20px;
  letter-spacing: -0.5px;
  margin-bottom: 30px;
  font-weight: normal;
  font-family: 'Helvetica Neue', Arial, Verdana, 'Nimbus Sans L', sans-serif;
}

h2e {
  font-size: 20px;
  letter-spacing: -0.5px;
  margin-bottom: 30px;
  font-weight: normal;
  font-family: 'Helvetica Neue', Arial, Verdana, 'Nimbus Sans L', sans-serif;
  color: $gray;
}

/* Dropdown User */

.user-information {
		background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, transparent), color-stop(100%, rgba(0, 0, 0, 0.05)));
  border-bottom: 1px solid #CCC;
  cursor: text;
  font-size: 16px;
  margin-bottom: 7px;
  padding: 10px 20px 10px 15px;
  text-shadow: 0 1px 0 white;
  white-space: nowrap;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-user-select: auto;
  -moz-user-select: auto;
  user-select: auto;
  color: $grayDarker;
}

.user-information > span {
  color: #888;
  font-size: 13px;
  font-weight: 500;
}

/* pharmacies */

.pharmacies {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}
.content {
  display: block;
}
.timestamp {
  color: $grayLight;
}
.gravatar {
  float: left;
  margin-right: 10px;
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

.table th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.table th .asc {
  background-image: url(/icon-arrow-up);
}

.table th .desc {
  background-image: url(/icon-arrow-down);
}

/* ipad fullscreen styles for single event*/

.navbar-inner, .navbar .btn-navbar {
background: #3f3f3f; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNmM2YzZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #3f3f3f 0%, #000000 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3f3f3f), color-stop(100%,#000000)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #3f3f3f 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #3f3f3f 0%,#000000 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #3f3f3f 0%,#000000 100%); /* IE10+ */
background: linear-gradient(to bottom,  #3f3f3f 0%,#000000 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f3f3f', endColorstr='#000000',GradientType=0 ); /* IE6-8 */
    }

.navbar .divider-vertical {
  background-color: #3f3f3f;
  border-right: 1px solid #000000;
}

.navbar .nav .active > a, .navbar .nav .active > a:hover {
  background-color: #3f3f3f;
}

.navbar .nav > li > a:hover {
    color: #ffffff;
    background-color: #3f3f3f;
 }

.navbar .nav > li > a {
    color: #ffffff;
    }

.navbar-fixed-top .brand {
    color: #000000;
    }

.navbar .nav > li > a:hover {color:white;}


.navbar .nav .active > a, .navbar .nav .active > a:hover {color:white;}


.white_container {
	background: #ffffff;
	border-radius: 15px;
	padding-top: 12px;
	padding-left: 10px;
	padding-bottom: 2px;
}

.white_container_middle {
	background: #ffffff;
	border-radius: 15px;
	padding-top: 20px;
	padding-left: 10px;
	padding-bottom: 20px;
}

.mb {
	margin-bottom:5px;
}

.mc {
	margin-top:0px;
}

h1b {
  font-size: 6.2em;
  letter-spacing: 0px;
  line-height: 1.27em;
  margin-bottom: 30px;
  font-family: 'BitterRegular', Georgia, sans-serif;
  color: #212121;
}

h2b {
  font-size: 6em;
  letter-spacing: 0px;
  line-height: 1em;
  margin-bottom: 30px;
  font-family: 'BitterRegular', Georgia, sans-serif;
  color: #212121;
}

h3b {
  font-size: 3.3em;
  letter-spacing: 0px;
  line-height: 1.7em;
  margin-bottom: 30px;
  font-family: 'BitterRegular', Georgia, sans-serif;
  color: #212121;
}

h4b {
  font-size: 2.4em;
  letter-spacing: 0px;
  line-height: 1.7em;
  margin-bottom: 30px;
  color: #212121;
  font-family: 'BitterRegular', Georgia, sans-serif;
}

/* importing mobile responsive style at the end on purpose */
@import "bootstrap-responsive";

.last {
margin: 125px 0px 0px -20px;
}

.clearfix::after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}

.offset3header {
margin-left: 300px;
}