<footer class="footer">
  <small>
	  A product by
    <a href="http://signaleast.com/">Signal East</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://www.facebook.com/pages/Signal-East/438692912836281?ref=ts">News</a></li>
    </ul>
  </nav>
</footer>