<% provide(:title, 'Create Account') %>
<h1>Create Account</h1>

<div class="row">
  <div class="span4 offset3">
    <%= form_for(@account) do |f| %>
      <%= render 'fields', f: f %>
      <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>